{% load crispy_forms_tags %}
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
  <main class="container">
      <h2>Adicionar Convidados para o Evento: {{ agenda.espaco_locavel }}</h2>
      <a href="#" onclick="openPopup()">Cadastrar Convidado</a>

      <script>
          function openPopup() {
              // Specify the URL of the Django view
              var popupUrl = "{% url 'convidado_cadastrar' %}";

              // Open a new pop-up window
              var popupWindow = window.open(popupUrl, 'Popup', 'width=600,height=400');
          }
      </script>

        <form method="post">
          {% csrf_token %}
          <div class="table-responsive">
            <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Selecionar</th>
                <th>Nome</th>
                <th>Email</th>
              </tr>
            </thead>
            <tbody>
              {% for convidado in existing_convidados %}
                <tr>
                  <td>
                    <input type="checkbox" name="convidados" value="{{ convidado.id }}">
                  </td>
                  <td>{{ convidado.nome }}</td>
                  <td>{{ convidado.email }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          <br>
          <button type="submit">Adicionar Convidados</button>
        </div>
        </form>
    <a href="{% url 'agenda_list' %}">Voltar para a lista de eventos</a>
  </main>
  <script>
    function openConvidadoForm() {
      // Open the convidado_form in a modal window
      var convidadoWindow = window.open("{% url 'convidado_cadastrar' %}", "convidadoForm", "modal=yes,width=600,height=400");
    }
  </script>
</body>