<!-- templates/base.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clube Social Recreativo</title>
    <!-- Adicione seus estilos CSS e scripts JS aqui, se necessário -->
</head>
<body>

    <header>
        <h1>Clube Social Recreativo</h1>
        <!-- Adicione links de navegação ou outras informações do cabeçalho aqui -->
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <!-- Adicione informações do rodapé aqui -->
    </footer>

</body>
</html>
